[user]
	name = noidilin
	email = linganinja.0120@gmail.com

[core]
	autocrlf = input
	eidtor = nvim -f # 'code --wait'
  pager = delta
  excludesFile = ~/.config/git/ignore

[filter "lfs"]
  required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

{{- if eq .chezmoi.os "windows" }}

[credential "helperselector"]
	selected = manager
{{- end }}

; Diff
[diff]
  colorMoved = default

[interactive]
  diffFilter = delta --color-only

[include]
  path = ~/.config/delta/achroma.gitconfig

[delta]
  features = achroma
  navigate = true # use n and N to move between diff sections
  side-by-side = true
  show-syntax-themes = true
  hyperlinks = true
  dark = true
  line-numbers = true

; Merge
[merge]
  conflictstyle = zdiff3 # automatically resolving identical lines
  tool = nvimdiff
  guitool = nvimdiff

[mergetool]
  prompt = false
  guiDefault = false
  keepBackup = false

[init]
	defaultBranch = main

[remote]
  pushDefault = origin

[log]
  date=format:%Y-%m-%d %H:%M
  abbrevCommit = true  # short commits
  graphColors = normal

[status]
  branch = true
  showStash = true

[branch]
  sort = -committerdate

[help]
  autoCorrect = prompt

[tag]
  sort = -taggerdate

[push]
  useForceIfIncludes = true

[pull]
  rebase = true

[rebase]
  # stacked branches with lazygit (https://www.youtube.com/watch?v=M6S-9Y8peDY)
	updateRefs = true
  autoStash = true

[rerere]
  enabled = true

; Color
[color]
  ui = always
  interactive = always

[color "decorate"]
  HEAD = white bold
  branch = normal
  tag = white bold ul
  remoteBranch = green

[color "branch"]
  current  = bold
  local    = default
  remote   = white
  upstream = yellow
  plain    = blue

; Alias
[alias]
  log-graph = "log --graph --all --pretty=format:'%C(normal reverse)%h%C(reset black) (%ad) %Creset%an %C(auto)%d%n%C(dim)%s%n'"
