[user]
  name = noidilin
  email = linganinja.0120@gmail.com
{{- if eq .osId "windows" }}
  signingkey = {{ onepasswordRead "op://dev/github-win/public key" | trim }} # 'github-win'
{{- else if eq .osId "linux-arch" }}
{{-   if eq .archEnv "wsl" }}
  signingkey = {{ onepasswordRead "op://dev/github-win/public key" | trim }} # WSL2 shares 'github-win' key
{{-   else }}
  signingkey = {{ onepasswordRead "op://dev/github-arch/public key" | trim }} # Native Arch 'github-arch'
{{-   end }}
{{- else if eq .osId "darwin" }}
  signingkey = {{ onepasswordRead "op://dev/github-mac/public key" | trim }} # 'github-mac'
{{- end }}

[core]
  autocrlf = input
  eidtor = nvim -f # 'code --wait'
  pager = delta
  excludesFile = ~/.config/git/ignore
{{- if eq .osId "windows" }}
  sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- else if eq .osId "linux-arch" }}
{{-   if eq .archEnv "wsl" }}
  sshCommand = ssh.exe
{{-   end }}
{{- end }}

[gpg]
  format = ssh

[gpg "ssh"]
{{- if eq .osId "windows" }}
  program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe"
{{- else if eq .osId "darwin" }}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else if eq .osId "linux-arch" }}
{{-   if eq .archEnv "wsl" }}
  program = "/mnt/c/Program Files/1Password/app/8/op-ssh-sign.exe"
{{-   else if eq .archEnv "native" }}
  program = "op-ssh-sign"  # Native Arch uses Linux 1Password
{{-   end }}
{{- end }}

[commit]
  gpgsign = true

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

{{- if eq .chezmoi.os "windows" }}

[credential "helperselector"]
  selected = manager
{{- end }}

; Diff
[diff]
  colorMoved = default

[interactive]
  diffFilter = delta --color-only

[include]
  path = ~/.config/delta/achroma.gitconfig

[delta]
  features = achroma
  navigate = true # use n and N to move between diff sections
  side-by-side = true
  show-syntax-themes = true
  hyperlinks = true
  dark = true
  line-numbers = true

; Merge
[merge]
  conflictstyle = zdiff3 # automatically resolving identical lines
  tool = nvimdiff
  guitool = nvimdiff

[mergetool]
  prompt = false
  guiDefault = false
  keepBackup = false

[init]
  defaultBranch = main

[remote]
  pushDefault = origin

[log]
  date=format:%Y-%m-%d %H:%M
  abbrevCommit = true  # short commits
  graphColors = normal

[status]
  branch = true
  showStash = true

[branch]
  sort = -committerdate

[help]
  autoCorrect = prompt

[tag]
  sort = -taggerdate

[push]
  useForceIfIncludes = true

[pull]
  rebase = true

[rebase]
  # stacked branches with lazygit (https://www.youtube.com/watch?v=M6S-9Y8peDY)
  updateRefs = true
  autoStash = true

[rerere]
  enabled = true

; Color
[color "decorate"]
  HEAD = white bold
  branch = normal
  tag = white bold ul
  remoteBranch = green

[color "branch"]
  current  = bold
  local    = default
  remote   = white
  upstream = yellow
  plain    = blue

; Alias
[alias]
  log-graph = "log --graph --all --pretty=format:'%C(normal reverse)%h%C(reset black) (%ad) %Creset%an %C(auto)%d%n%C(dim)%s%n'"
