# vim: ft=bash
{{- if eq .osId "linux-arch" -}}
# XDG Base Directory Specification
# Managed by chezmoi
{{- range $key, $value := .env.xdg }}
export {{ $key }}="{{ $value }}"
{{- end }}

# Source .bashrc if it exists
[ -f "${HOME}/.bashrc" ] && source "${HOME}/.bashrc"
{{- end -}}
