# vim: ft=zsh
{{- if eq .chezmoi.os "darwin" -}}
# XDG Base Directory Specification
# Managed by chezmoi
{{- range $key, $pathParts := .env.xdg }}
export {{ $key }}="{{ printf "%s/%s" $.chezmoi.homeDir (join "/" $pathParts) }}"
{{- end }}
{{- end -}}
