{{- template "leaf-achroma.toml" (dict
      "c" .color.achroma.dark
      "base" "ocean"
      "syntax" "base16-ocean.dark"
      "ink" (dict
        "border" .color.achroma.dark.mono07
        "hairline" .color.achroma.dark.mono09
        "frame" .color.achroma.dark.mono10
        "rule" .color.achroma.dark.mono11
        "selectionBg" .color.achroma.dark.mono05)) -}}
