{{- template "flow-launcher-achroma.xaml" (dict
      "c" .color.achroma.dark
      "ink" (dict
        "surface" .color.achroma.dark.mono05
        "faint" .color.achroma.dark.mono09
        "hotkey" .color.achroma.dark.mono07)) -}}
