"$schema" = 'https://starship.rs/config-schema.json'

format = """
[╭](bold frame)\
$shell\
$username\
$directory\
$git_branch$git_status\
$package$mise\
[$nodejs$bun$lua$python$c$cpp$rust$zig$golang](fg:mono11)\
$fill\
$cmd_duration\
$aws$kubernetes$terraform\
$os\
$time\
$line_break\
[╰─](bold frame)\
$character"""

palette = 'noidilin'

[palettes.noidilin]
{{- range $k, $v := .color.achroma.dark }}
{{ $k }} = '{{ $v }}'
{{- end }}
# ink: prompt frame color (see wezterm config/theme.lua)
frame = '{{ .color.achroma.dark.mono07 }}'

# light counterpart, selected by the `theme` switcher flipping `palette =`
[palettes.noidilin-light]
{{- range $k, $v := .color.achroma.light }}
{{ $k }} = '{{ $v }}'
{{- end }}
# ink: mirrored mono07 is invisible on the light base; step to mono10
frame = '{{ .color.achroma.light.mono10 }}'

[fill]
symbol = ' '

[character]
success_symbol = '[](bold fg:mono21)'
error_symbol = '[](bold fg:red00)'

# left
[shell]
disabled = false
format = '[  $indicator ]($style)'
style = 'fg:mono21'

[username]
format = '[ $user ]($style)'
style_user = 'fg:mono19 bold'
style_root = 'fg:acc08 bold'

[directory]
format = '[ $path ]($style)'
truncation_length = 3
truncation_symbol = '…/'
style = 'fg:mono17'

# [directory.substitutions]
# "learning" = ' '
# "dev" = '󰲋 '
# "downloads" = ' '

[git_branch]
symbol = ''
format = '[[ $symbol $branch ](fg:mono15)]($style)'
style = 'bg:mono09'

[git_status]
format = '[[($all_status$ahead_behind )](fg:mono15)]($style)'
style = 'bg:mono09'

[package]
format = ' is [$symbol$version]($style)'
symbol = ' '
style = 'mono09 bold'

[mise]
disabled = false
format = ' on [$symbol$health]($style)'
style = 'mono09 bold'

# right
[memory_usage]
disabled = false
threshold = 0
format = '[ ${ram_pct}](fg:mono11)'

[cmd_duration]
disabled = false
min_time = 500
show_milliseconds = true
format = '[ [$duration](fg:mono13)]($style)'
style = 'fg:mono09 bold'

[os]
disabled = true
format = '[ $symbol]($style)'
style = 'fg:mono11'

[os.symbols]
Windows = ' win'
Macos = '󰀵 mac'
Arch = '󰣇 arch'

[time]
disabled = false
format = '[ [$time](fg:mono09)]($style)'
time_format = '%R'
style = 'fg:frame bold'

# lang
[nodejs]
symbol = ''
format = ' $symbol( $version)'

[bun]
symbol = ''
format = ' $symbol( $version)'

[lua]
symbol = ''
format = ' $symbol( $version)'

[swift]
symbol = ''
format = ' $symbol( $version)'

[c]
symbol = ''
format = ' $symbol( $version)'

[cpp]
symbol = ''
format = ' $symbol( $version)'

[rust]
symbol = ''
format = ' $symbol( $version)'

[zig]
symbol = ''
format = ' $symbol( $version)'

[golang]
symbol = ''
format = ' $symbol( $version)'

[python]
symbol = ''
format = ' $symbol( $version)'

[docker_context]
symbol = ''
format = '[ $symbol( $context) ](fg:acc07 bg:mono08)'

# devops
[kubernetes]
disabled = false
symbol = 'k8s:'
format = '[ $symbol$context( ns:$namespace)]($style)'
style = 'fg:mono11'

[[kubernetes.contexts]]
context_pattern = '.*prod.*|.*production.*'
context_alias = 'prod'
style = 'bold fg:red00'
symbol = 'k8s:'

[[kubernetes.contexts]]
context_pattern = '.*stage.*|.*staging.*'
context_alias = 'stage'
style = 'fg:mono11'
symbol = 'k8s:'

[[kubernetes.contexts]]
context_pattern = '.*dev.*|.*development.*'
context_alias = 'dev'
style = 'fg:mono11'
symbol = 'k8s:'

[terraform]
symbol = 'tf:'
format = '[ $symbol$workspace]($style)'
style = 'fg:mono11'

[aws]
symbol = 'aws:'
format = '[ $symbol$profile( region:$region)( expires:$duration)]($style)'
style = 'fg:mono11'
expiration_symbol = 'expired'
force_display = false

# [aws.profile_aliases]
# production-admin = 'PROD-admin'
# production-readonly = 'PROD-ro'
# staging-admin = 'stage-admin'
# development-admin = 'dev-admin'
